body {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 90vh;
  }

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}